<section class="column-hero">
  <div class="column-hero__column column-hero__column-left">
    <figure class="image image--slide-reveal --peach column-hero__column-content">
      {% set transformedImages = craft.imagerx.transformImage(entry.homeHeroImageLeft.one(), "columnHeroImage") %}
      <picture>
        {% if craft.imager.serverSupportsWebp() %}
          {% set transformedImagesWebp =
            craft.imagerx.transformImage(entry.homeHeroImageLeft.one(), "columnHeroImageWebp")
          %}
        {% endif %}
        <source data-srcset="{{ craft.imagerx.srcset(transformedImagesWebp) }}" data-sizes="auto" type="image/webp" />
        <img data-srcset="{{ craft.imagerx.srcset(transformedImages) }}"
          data-sizes="auto"
          class="u-fit-cover lazyload"
          alt="" />
      </picture>
    </figure>
    <div class="column-hero__content column-hero__column-content">
      <h3 class="column-hero__eyebrow eyebrow">
        Welcome
      </h3>
      <h2 class="column-hero__heading">
        {{ entry.homeHeroHeading }}
      </h2>
      <p class="column-hero__copy">
        {{ entry.homeHeroCopy }}
      </p>
    </div>
    <!-- /.content-hero__content -->
  </div>
  <!-- /.column-hero__column -->
  <div class="column-hero__column column-hero__column-right">
    <figure class="image image--slide-reveal --red">
      {% set transformedImages = craft.imagerx.transformImage(entry.homeHeroImageRight.one(), "columnHeroImage") %}
      <picture>
        {% if craft.imager.serverSupportsWebp() %}
          {% set transformedImagesWebp =
            craft.imagerx.transformImage(entry.homeHeroImageRight.one(), "columnHeroImageWebp")
          %}
        {% endif %}
        <source data-srcset="{{ craft.imagerx.srcset(transformedImagesWebp) }}" data-sizes="auto" type="image/webp" />
        <img data-srcset="{{ craft.imagerx.srcset(transformedImages) }}"
          data-sizes="auto"
          class="u-fit-cover lazyload"
          alt="" />
      </picture>
    </figure>
  </div>
  <!-- /.column-hero__column -->
</section>
