{% extends "layouts/base.twig" %}

{% block content %}
  {% include "_partials/column-hero.twig" %}
  {% include "_partials/marquee.twig" with {
    copy: entry.homeTopMarqueeText
  } %}
  <section class="column-callout">
    <div class="column-cta">
      <a href="#0" class="column-cta__inner">
        <figure class="image">
          {% set transformedImages =
            craft.imagerx.transformImage(entry.homeCalloutImageLeft.one(), "columnHeroImage")
          %}
          <picture>
            {% if craft.imager.serverSupportsWebp() %}
              {% set transformedImagesWebp =
                craft.imagerx.transformImage(entry.homeCalloutImageLeft.one(), "columnHeroImageWebp")
              %}
            {% endif %}
            <source data-srcset="{{ craft.imagerx.srcset(transformedImagesWebp) }}"
              data-sizes="auto"
              type="image/webp" />
            <img data-srcset="{{ craft.imagerx.srcset(transformedImages) }}"
              data-sizes="auto"
              class="u-fit-cover lazyload"
              alt="" />
          </picture>
        </figure>
        <div class="column-cta__content">
          <h2 class="column-cta__title | js-animate">
            <span>{{ entry.homeCalloutHeadingLeft }}</span>
          </h2>
          <p class="column-cta__copy">
            <span>{{ entry.homeCalloutCopyLeft }}</span>
          </p>
        </div>
        <!-- /.column-cta__content -->
      </a>
    </div>
    <!-- /.column-cta -->
    <div class="column-cta">
      <a href="#0" class="column-cta__inner">
        <figure class="image">
          {% set transformedImages =
            craft.imagerx.transformImage(entry.homeCalloutImageRight.one(), "columnHeroImage")
          %}
          <picture>
            {% if craft.imager.serverSupportsWebp() %}
              {% set transformedImagesWebp =
                craft.imagerx.transformImage(entry.homeCalloutImageRight.one(), "columnHeroImageWebp")
              %}
            {% endif %}
            <source data-srcset="{{ craft.imagerx.srcset(transformedImagesWebp) }}"
              data-sizes="auto"
              type="image/webp" />
            <img data-srcset="{{ craft.imagerx.srcset(transformedImages) }}"
              data-sizes="auto"
              class="u-fit-cover lazyload"
              alt="" />
          </picture>
        </figure>
        <div class="column-cta__content">
          <h2 class="column-cta__title | js-animate">
            <span>{{ entry.homeCalloutHeadingRight }}</span>
          </h2>
          <p class="column-cta__copy">
            <span>{{ entry.homeCalloutCopyRight }}</span>
          </p>
        </div>
        <!-- /.column-cta__content -->
      </a>
    </div>
    <!-- /.column-cta -->
  </section>
  {% include "_partials/marquee.twig" with {
    copy: entry.homeBottomMarqueeText
  } %}
  <section class="team-slider | js-team-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper team-slider__inner">
        <a href="#0" class="team-slider__item swiper-slide">
          <figure class="image">
            <img src="/media/images/team-1.jpg" class="u-fit-cover" alt="" />
          </figure>
        </a>
        <a href="#0" class="team-slider__item swiper-slide">
          <figure class="image">
            <img src="/media/images/team-2.jpg" class="u-fit-cover" alt="" />
          </figure>
        </a>
        <a href="#0" class="team-slider__item swiper-slide">
          <figure class="image">
            <img src="/media/images/team-3.jpg" class="u-fit-cover" alt="" />
          </figure>
        </a>
        <a href="#0" class="team-slider__item swiper-slide">
          <figure class="image">
            <img src="/media/images/team-4.jpg" class="u-fit-cover" alt="" />
          </figure>
        </a>
      </div>
      <!-- /.swiper-wrapper -->
      <div class="team-slider__controls">
        <button class="team-slider__control team-slider__previous">{{ svg("media/svg/arrow.svg") }}</button>
        <button class="team-slider__control team-slider__next">{{ svg("media/svg/arrow.svg") }}</button>
      </div>
      <!-- /.team-slider__controls -->
    </div>
    <!-- /.swiper-container -->
  </section>
{% endblock %}
